<%- include("../partials/header") -%>

    <div class="container">
        <div class="center">
            <div class="row"><h3>KLANTENOVERZICHT</h3></div>
            <% foundNAW.forEach(name => { %>
                <div class="row">
                    <a href="/naw/<%= name._id %>"><%= typeof name.klantnummer !== 'undefined' && name.klantnummer !== null ? name.klantnummer + ' - ' : '' %><%= typeof name.achternaam !== 'undefined' ? name.achternaam : '' %><%= typeof name.woonplaats !== 'undefined' && name.woonplaats.length >= 1 ? ' - ' + name.woonplaats : '' %></a>
                </div>
            <% }); %>
        </div>
    </div>

<%- include("../partials/footer") -%>