<%- include("../partials/header") -%>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

<div class="container">
    <div class="center">
        <div class="row">
            <h3>Klantnummer: <%= foundNAW.klantnummer %>
                <span class="subtext">
                    <form action="/naw/<%= foundNAW._id %>/destroy?_method=DELETE" method="POST">
                        <a style="color: #ddba3f; text-decoration: none;" href="/naw/<%= foundNAW._id %>/edit">BEWERKEN</a> | 
                        <button class="but-link" type="submit" onclick="return confirm('Weet je zeker dat je de klant <%= foundNAW.achternaam %> wil verwijderen?');">VERWIJDEREN</button>
                    </form>
                </span>
            </h3>
        </div>
        <div class="gallery">
            <div class="row">
                <div class="col-3 hid">Naam: </div>
                <div class="col-9"><%= foundNAW.aanhef %> <%= foundNAW.voornaam %> <%= foundNAW.tussenvoegsels %> <%= foundNAW.achternaam %></div>
            </div>
            <div class="row">
                <div class="col-3 hid">Adres: </div>
                <div class="col-9"><%= foundNAW.adres %> <%= foundNAW.woonplaats %></div>
            </div>
            <div class="row">
                <div class="col-3 hid">Huistelefoon: </div>
                <div class="col-9"><%= foundNAW.huistelefoon %></div>
            </div>
            <div class="row">
                <div class="col-3 hid">Mobiel: </div>
                <div class="col-9"><%= foundNAW.mobiel01omschrijving %> <%= foundNAW.mobiel01 %></div>
            </div>
            <div class="row">
                <div class="col-3 hid">Mobiel: </div>
                <div class="col-9"><%= foundNAW.mobiel02omschrijving %> <%= foundNAW.mobiel02 %></div>
            </div>
            <div class="row">
                <div class="col-3 hid">Email: </div>
                <div class="col-9"><%= foundNAW.email %></div>
            </div>
            <div class="row">
                <div class="col-3 hid">Opmerkingen: </div>
                <div class="col-9"><%= foundNAW.omschrijving %></div>
            </div>
            <div class="row buttonRow">
                <div class="col-3"><a style="width: 90%; padding: 5px" href="#" class="but but-deep-brown">TODO LIST</a></div>
                <div class="col-3"><a style="width: 90%; padding: 5px" href="#" class="but but-oker">INMETINGEN</a></div>
                <div class="col-3"><a style="width: 90%; padding: 5px" href="#" class="but but-oker">NOTITIES</a></div>
                <div class="col-3"><a style="width: 90%; padding: 5px" href="#" class="but but-deep-brown">LOGBOEK</a></div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") -%>