<%- include("../partials/header") -%>

    <div class="col-3">
        <div class="center">
            <% let data = JSON.stringify(foundProducts) %>
            <% foundProducts.forEach(product => { %>
                <div class="gallery" onclick="productData('<%= data %>','<%= product._id %>')">
                    <div class="row" id="<%= product._id %>">
                        <%= product.product %>
                    </div>
                </div>
            <% }); %> 
            <div class="gallery" style="text-align: center;" onclick="javascript:location.href='/maintenance/product/new'">
                NIEUW PRODUCT
            </div>
        </div>
    </div>

    <div class="col-9" id="productData">

    </div>
    
<script src="/js/product.js"></script>
<%- include("../partials/footer") -%>